<div class="row">
    <div class="jumbotron">
        <h3>{{heading}}</h3>
        <p>{{message}}</p>
        <p>Core Developers Grid</p>
        <p><a class="btn btn-lg btn-primary" href="http://codlgrid.com" role="button">codlgrid.com</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <table class="table table-bordered table-responsive">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in userList">
                <td>{{user.id}}</td>
                <td>{{user.name }}</td>
                <td>{{user.email}}</td>
            </tr>
            </tbody>
            </tfoot></tfoot>
        </table>
    </div>
    <div class="col-md-5">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in userList">
                <td>{{user.id}}</td>
                <td>{{user.name }}</td>
                <td>{{user.email}}</td>
            </tr>
            </tbody>
            </tfoot></tfoot>
        </table>
    </div>
</div>

